include README.md manage.py LICENSE
recursive-include testproject *.py
recursive-include testapps *.py
recursive-exclude unslashed *.pyc
recursive-exclude testproject *.pyc
recursive-exclude testapps *.pyc